{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Plant details."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post">

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Name",
                classes: "govuk-label--m"
              },
              id: "name",
              name: "name",
              hint: {
                text: "What is the name of your plant?"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.name.message
              } if formErrors.name.message
            }) }}

          {% endcall %}

          {{ govukButton({
            text: "Next"
          }) }}

        </form>

      </div>
    </div>
  </div>


{% endblock %}
