{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Review your animal."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post">

          <ul class="govuk-list govuk-list--bullet">
            <li><strong>Name:</strong> {{ plantSession.name }}</li>
          </ul>

          {{ govukButton({
            text: "Create"
          }) }}

        </form>

      </div>
    </div>
  </div>


{% endblock %}
