{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <p>Your file did not upload 🙁 <a href="/animals/upload" class="govuk-link govuk-link--text-colour">try
            again</a>.</p>

      </div>
    </div>
  </div>

{% endblock %}
