{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Upload a picture."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post" enctype="multipart/form-data">
          {% call govukFieldset() %}

            {{ govukFileUpload({
              id: "file",
              name: "file",
              label: {
                text: "Picture",
                classes: "govuk-label--m"
              },
              hint: {
                text: "File types of .png or .jpeg with a max size of 100 MB"
              },
              errorMessage: {
                text: formErrors.file.message
              } if formErrors.file.message
            }) }}

          {% endcall %}

          {{ govukButton({
            text: "Upload"
          }) }}

        </form>

      </div>
    </div>
  </div>


{% endblock %}
