{% extends 'layouts/page.njk' %}

{% set asideHtml %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">
    <a class="govuk-link govuk-link--text-colour" href="/birds/tracking">New tracking</a>
  </h2>
{% endset %}


{% block content %}
  {{ appHeading({
    title: heading,
    aside: {
      html: asideHtml
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
         <p>
         Tracking registered rare birds.
        </p>

        <ul class="govuk-list govuk-list--spaced">
          {% for bird in birds %}
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link govuk-link--no-visited-state"
                 href="/birds/{{ bird.birdId }}">{{ bird.name }}</a>
            </li>

          {% else %}
            <li class="govuk-!-margin-bottom-1">No rare birds.</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% endblock %}
