{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Core delivery platform (CDP) Node.js Frontend."
  }) }}
  <main class="govuk-body">
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-three-quarters">
        <p>
          Welcome 👋🏻 to the Example Node Frontend. A playground to show case examples of how to do things in a CDP
          Node.js Frontend. 🚀
        </p>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">Multistep form with single file upload</h2>
        <p>
          The <a href="/animals" class="govuk-link govuk-link--no-visited-state">Animals</a> multistep form is an
          example of:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
          <li>A multistep form flow</li>
          <li>With Redis session</li>
          <li>Virus scanning and uploading of files to your bucket via the <a
              href="https://github.com/DEFRA/cdp-uploader"
              rel="noreferrer noopener" target="_blank"
              class="govuk-link  govuk-link--no-visited-state">
              cdp-uploader</a> service
          </li>
          <li>Form validation</li>
          <li>Persisting data to the <a href="https://github.com/DEFRA/cdp-example-node-backend"
                                        rel="noreferrer noopener" target="_blank"
                                        class="govuk-link govuk-link--no-visited-state">cdp-example-node-backend</a>
            Mongo DB
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">Single page form with multi-file upload</h2>
        <p>
          The <a href="/creatures" class="govuk-link govuk-link--no-visited-state">Creatures</a> form is an example of:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
          <li>A single page form</li>
          <li>Multi-file input</li>
          <li>Virus scanning and uploading of files to your bucket via the <a
              href="https://github.com/DEFRA/cdp-uploader"
              rel="noreferrer noopener" target="_blank"
              class="govuk-link  govuk-link--no-visited-state">
              cdp-uploader</a> service
          </li>
          <li>Form validation</li>
          <li>Persisting data to the <a href="https://github.com/DEFRA/cdp-example-node-backend"
                                        rel="noreferrer noopener" target="_blank"
                                        class="govuk-link govuk-link--no-visited-state">cdp-example-node-backend</a>
            Mongo DB
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">Multistep form with add another single file upload</h2>
        <p>
          The <a href="/plants" class="govuk-link govuk-link--no-visited-state">Plants</a> multistep form is an
          example of:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
          <li>A multistep form flow</li>
          <li>With Redis session</li>
          <li>Virus scanning and uploading of files to your bucket via the <a
              href="https://github.com/DEFRA/cdp-uploader"
              rel="noreferrer noopener" target="_blank"
              class="govuk-link  govuk-link--no-visited-state">
              cdp-uploader</a> service
          </li>
          <li>Add another functionality so you can add multiple files, one at a time</li>
          <li>Form validation</li>
          <li>Persisting data to the <a href="https://github.com/DEFRA/cdp-example-node-backend"
                                        rel="noreferrer noopener" target="_blank"
                                        class="govuk-link govuk-link--no-visited-state">cdp-example-node-backend</a>
            Mongo DB
          </li>
        </ul>
      </div>
    </div>
  </main>

{% endblock %}
