{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    title: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <h2 class="govuk-heading-m">
          {{ creature.kind | capitalize }} the creature
        </h2>


        <ul class="govuk-list govuk-list--spaced">
          <li>
            <strong>Seen:</strong> {{ creature.date | formatDate }}
          </li>

          <li>
            <strong>Seen in real life:</strong> {{ creature.realLifeSighting }}
          </li>

          {% if creature.address | length %}
            <li>
              <strong>Address:</strong>
              {% for addressKey, addressValue in creature.address %}
                {{ addressValue }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        </ul>


        <h2 class="govuk-heading-m">Images</h2>
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-4">

          {% for file in creature.creatureFiles %}
            <li>
              <img class="app-img" src="/file/{{ file.fileUrl }}" alt="{{ file.filename }} picture">
            </li>

          {% else %}
            <li>No files available for your creature.</li>
          {% endfor %}
        </ul>


        <h2 class="govuk-heading-m">Supporting evidence images</h2>
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">

          {% for file in creature.evidenceFiles %}
            <li>
              <img class="app-img" src="/file/{{ file.fileUrl }}" alt="{{ file.filename }} picture">
            </li>

          {% else %}
            <li>No evidence files available for your creature.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
