{% extends 'layouts/page.njk' %}

{% set asideHtml %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">
    <a class="govuk-link govuk-link--text-colour" href="/creatures/add">Add creature</a>
  </h2>
{% endset %}

{% block content %}
  {{ appHeading({
    title: heading,
    aside: {
      html: asideHtml
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Details of observed mythical creatures.
        </p>

        <ul class="govuk-list govuk-list--spaced">
          {% for creature in creatures %}
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link govuk-link--no-visited-state"
                 href="/creatures/{{ creature.creatureId }}">
                {{ creature.date | formatDate }} - {{ creature.kind | capitalize }} in {{ creature.address.townOrCity }}
              </a>
            </li>
          {% else %}
              <li class="govuk-!-margin-bottom-1">No creatures uploaded.</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% endblock %}
