{% extends 'layouts/page.njk' %}

{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="1">
{% endblock %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Virus check."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <p>
          Your files are currently being checked for viruses {{ appLoader({ classes: "app-loader--is-loading" }) }}
        </p>

      </div>
    </div>
  </div>


{% endblock %}
