{% extends 'layouts/page.njk' %}

{% set asideHtml %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">
    <a class="govuk-link govuk-link--text-colour" href="/birds/{{ bird.birdId }}/tracking/spotter">New {{ bird.name }} tracking</a>
  </h2>
{% endset %}

{% block content %}
  {{ appHeading({
    title: heading,
    aside: {
      html: asideHtml
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Tracking locations for a {{ bird.name }}.
        </p>
        <p>
           Genus: {{ bird.genus }}<br>
           Species: {{ bird.species }}
         </p>

        <ul class="govuk-list govuk-list--spaced">
          {% for tracking in trackings %}
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link govuk-link--no-visited-state"
                 href="/birds/{{ bird.birdId }}/tracking/{{ tracking.trackingId }}">{{ tracking.date }}</a>
                 tracked by {{ tracking.spotter }}
            </li>

          {% else %}
            <li class="govuk-!-margin-bottom-1">No tracking locations uploaded.</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% endblock %}
